{% extends 'main/base.html' %}

{% block content %}
<br>
<div class="container">
    <br>
    <div class="card" id="backdrop">
        <div class="card-body">
            <div class="row">
                {% for listing in listings %}
                <div class="col-md-4"> 
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ listing.image }}" alt="" class="img-fluid">
                            <h4><a href="{% url 'main:detail' listing.id %}">{{ listing.name }}</a></h4>
                            <h5><b>{{ listing.neighborhood }}</b></h5>
                            <i>beds: {{ listing.beds }}</i><br>
                            <i>baths: {{ listing.baths }}</i><br>
                            <i>price: {{ listing.price }}</i><br>
                            <i>score: {{ listing.averageRating }}</i><br>                   
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock  %}