{% extends 'main/base.html' %}

{% block content %}
<br>
<div class="container">
    <br>
    <div class="card" id="backdrop">
        <div class="card-body">
            <div class="row">
                {% for listing in listings %}
                <div class="col-md-4"> 
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ listing.image }}" alt="" class="img-fluid">
                            <br><br>
                            <h4><a href="{% url 'main:detail' listing.id %}">{{ listing.name }}</a></h4>
                            <h5><b>{{ listing.neighborhood }}</b></h5>
                            <h6>beds: {{ listing.beds }}</h6>
                            <h6>baths: {{ listing.baths }}</h6>
                            <h6>price: ${{ listing.price | floatformat:0 }}</h6>
                            <h6>rating: {{  listing.totalAverage| floatformat }}/5</h6>
                            <br>
                            <i>added: {{ listing.addDate }}</i>
                            
                            
                        </div>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock  %}